div.section {
	background: url(../images/toolbar.png) repeat-x;
}

td.selected-row {
	height: 20px;
	background-repeat: repeat-x;
	background-image: url(../images/selection.png);
}	

a:hover {
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-color: blue;
	border-bottom-width: 1px;
	font-style: normal;
	font-weight: bold;
}

a:link {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

a:visited {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}