#splitview .hsplitbar {
	border-bottom-color: #7f7f7f;
	border-top-color: #7f7f7f;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-width: 1px;
	height: 6px;
	background: #cccccc url(../images/splitter.png) no-repeat center;
}
#splitview .hsplitbar.active, #splitview .hsplitbar:hover {
	background: #cccccc url(../images/splitter.png) no-repeat center;
}